<a href="https://colab.research.google.com/github/yaseminekr/EmKa-Academy-Veri-bilimi/blob/main/Pandas_2_Al%C4%B1st%C4%B1rmalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

1) df_tips içindeki Payment ID column'unun son 3 rakamını çekin. Bu işlemi 3 farklı yolla da yapmaya çalışın.

In [6]:
df_tips = pd.read_csv("tips.csv")
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [16]:
#1.Yol: Fonksiyon

def son3(x):
  return str(x)[-3:]

In [10]:
df_tips['Payment ID'].apply(son3)

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [15]:
#2.Yol: Lambda

df_tips["Payment ID"].apply(lambda x : str(x)[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [14]:
#3.Yol: Vectorized (Çok daha hzılı bir yol.)

df_tips["Payment ID"].astype(str).str[-3:]

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

2) df_tips içindeki Payer Name sütununda isim ve soy isim bilgileri bulunuyor. O sütundan sadece isim bilgileri çekin ve 'JustName' adında yeni bir column oluşturun. (Bu biraz zorlayıcı olabilir, Önce kendiniz yapmaya çalışın fakat yapamazsanız ChatGPT'ye soruyu düzgünce sorarak cevabını kod olarak alabilirsiniz, ardından döndürülen kodu anlamaya çalışmanız yeterlidir.)

In [18]:
df_tips['JustName'] = df_tips['Payer Name'].str.split().str[0]
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,JustName
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,Nathaniel
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,Tonya
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,Michael
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,Monica
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,Keith
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,Dennis
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,Michelle

3) 2.Soruda yeni oluşturduğunuz 'JustName' sütunundaki verilerin her birinden kaç tane olduğuna uygun methodu kullanarak bakın.

In [19]:
df_tips["JustName"].value_counts()

Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Shawna         1
Louis          1
Chris          1
Mark           1
Michelle       1
Name: JustName, Length: 153, dtype: int64

4) 3.Soruda gördüğünüz gibi JustName sütununda 'Jason' isminden 9 tane, 'Michael' isminden 7 tane , 'James' isminden 6 tane bulunuyor. Peki bunların hepsi gerçekten farklı kişiler mi ? Hemen 'Payer Name' sütunundaki verilerin adetlerini de saydırtarak bir kıyaslama yapın. 'JustName' sütununu kullanmanın faydasız ve yanıltıcı olabileceğini görün ardından oluşturduğumuz 'JustName' sütununu kalıcı olarak drop edin. (Oluşturmanız için bir pratikti bu sütun sadece :D)

In [20]:
df_tips["Payer Name"].value_counts()

Christy Cunningham    1
Todd Patterson        1
Madison Wilson        1
Ryan Gonzales         1
Laura Robles          1
                     ..
Shawna Cook           1
Derek Thomas          1
Donald Williams       1
Roger Taylor          1
Michelle Hardin       1
Name: Payer Name, Length: 244, dtype: int64

In [21]:
df_tips["Payer Name"].nunique()

244

In [22]:
df_tips.drop("JustName", axis=1 , inplace= True)
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

5) Erkeklerin ve kadınların davranış patternlerini ayrı ayrı inceleyip yorumda bulunabilmek için 'df_male' ve 'df_female' adında 2 dataframe oluşturun. Birinde sadece 157 erkek verisi, diğerinde sadece 87 kadın verisi bulunsun.

In [25]:
df_male = pd.DataFrame(df_tips[df_tips["sex"] == "Male"])
df_female = pd.DataFrame(df_tips[df_tips["sex"] == "Female"])

In [28]:
df_female.shape

(87, 11)

In [29]:
df_male.shape

(157, 11)

6) Ardından bu 'df_male' ile 'df_female' 'in ödedikleri bahşişler toplamını bulup karşılaştırın.

In [30]:
df_male["tip"].sum()

485.07

In [31]:
df_female["tip"].sum()

246.50999999999996

7) 6.Soruda erkeklerin ve kadınların ödedikleri bahşişler toplamına bakıldığında Erkeklerin kadınlara kıyasla toplamda daha çok bahşiş ödediğini görüyoruz. Fakat biz biliyoruz ki bizim verimizde 157 Erkek, 87 kadın verisi vardı. Dolayısıyla Erkek sayısı daha fazla olduğu için toplam ödeyecekleri bahşiş miktarlarında da daha fazla çıkması oldukça normal bir durum. Bu yüzden daha mantıklı bir çıkarım için bu sefer df_male ile df_female'in bahşiş ORTALAMALARIN'a bakıp kıyaslayın, aralarında anlamlı ve ciddi bir fark var mı ?

In [32]:
df_male["tip"].mean()

3.0896178343949043

In [33]:
df_female["tip"].mean()

2.8334482758620685

8) Oluşturmuş olduğunuz df_male ile çalışarak elimizdeki verideki erkeklerin yüzde kaçının sigara içtiğini bulun. Aynı şekilde elimizdeki kadınların yüzde kaçının sigara içtiğini de bulun. Aralarında anlamlı bir fark mı yorumlayın.

In [34]:
male_smoker_rate = df_male[df_male["smoker"] == "Yes"]["smoker"].count() / df_male["smoker"].count() * 100
print("Erkeklerde sigara içenlerin oranı: {:.2f}%".format(male_smoker_rate))

Erkeklerde sigara içenlerin oranı: 38.22%

In [35]:
female_smoker_rate = df_female[df_female["smoker"] == "Yes"]["smoker"].count() / df_female["smoker"].count() * 100
print("Kadınlarda sigara içenlerin oranı: {:.2f}%".format(female_smoker_rate))

Kadınlarda sigara içenlerin oranı: 37.93%

9) Erkeklerin zaman olarak dinnerda mı yoksa lunch'da mı daha fazla yemek yediğini yüzdesel olarak bulun. Aynı işlemi kadınlar için de yapın. Yüzdesel olarak erkeklerin ve kadınların yemek yeme vakitleri arasında anlamlı bir fark var mı yok mu yorumlayın.

In [40]:
dinner_time_male = df_male[df_male["time"] == "Dinner"].shape[0]
print((dinner_time_male * 100) / len(df_male))

lunch_time_male = df_male[df_male["time"] == "Lunch"].shape[0]
print((lunch_time_male * 100) / len(df_male))

78.98089171974522
21.019108280254777

In [41]:
dinner_time_female = df_female[df_female["time"] == "Dinner"].shape[0]
print((dinner_time_female * 100) / len(df_female))

lunch_time_female = df_female[df_female["time"] == "Lunch"].shape[0]
print((lunch_time_female * 100) / len(df_female))

59.770114942528735
40.229885057471265

10) CC Number sütununu kalıcı olarak drop edin. Ardından df'in içindeki sütunların birbirleriyle olan ilişkilerini inceleyin ve çıkan sonuçlar hakkında yorumlarınızı belirtin.

In [42]:
df_tips.drop("CC Number", axis=1, inplace= True)
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,Sun2251
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,Thur672

In [43]:
df_tips.corr() #Birbirleriyle olan ilişkileri: zayıf.

                  total_bill       tip      size  price_per_person
total_bill          1.000000  0.675734  0.598315          0.647554
tip                 0.675734  1.000000  0.489299          0.347405
size                0.598315  0.489299  1.000000         -0.175359
price_per_person    0.647554  0.347405 -0.175359          1.000000